
.box{
          
        position: fixed;
        top:0;
        left: 0;
    }
    .stack-top{
        z-index: 99;

    }
    .hidden{
    display:none;
    }
    .main{
    margin-left: 40px;
    }


.map{
  height: 100%;
  width: 100%;
}
.button{
  position: absolute;
  display: flex-end;
  padding:20px;
  z-index: 99;
}
.animated-div {
  overflow: hidden;
  transition: width 0.5s ease-in-out 1s;
}
.w-50 {
    position: fixed;
    width: 50%;
    transition: width 0.5s height 0.5s ease-in-out 0.1s;
}
.w-10{

  position: fixed;
    width: 3rem;
    transition: width 0.5s height 0.5s ease-in-out 0.1s;
}
.ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
      #marker {
        width: 20px;
        height: 20px;
        border: 1px solid #088;
        border-radius: 10px;
        background-color: #0FF;
        opacity: 0.5;
      }
      #vienna {
        text-decoration: none;
        color: white;
        font-size: 11pt;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
      }
      .popover-body {
        min-width: 276px;
      }