::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
.box{
          
        position: fixed;
        top:0;
        left: 0;
    }
    .stack-top{
        z-index: 99;

    }
    .hidden{
    display:none;
    }
.tabbed{
  position: absolute;
  margin-top: 50px;
  height: 500px;
}
.Form{
padding-top: 300px;
padding-left: 100px;
position: absolute;
height: 100%;
color: #757575;

}
#field{
  padding: 50px;
  position: absolute;
  width: 500px;
}
.addbutton{
position: absolute;
left: 92%;

}
.giftbutton{
  position: absolute;
left: 92%;
top: 8%;

}
div.pavadinimas{
  position: absolute;
  margin-top: 10px;
}
h1.pavadinimas{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
}
.sidebar{
  filter: drop-shadow(10px 0px 6px #757575);

}

.daugiau{
height: 580px;
overflow: auto;

}
.map{
  height: 100%;
  width: 100%;
}
.button{
  position: fixed;
  display: flex-end;
  padding:20px;
  z-index: 99;
}
.animated-div {
  margin-top: 80px;
  right: 15px;
  position: absolute;
  overflow: hidden;
  transition: width 0.5s ease-in-out 1s;

}
.w-50 {
    position: fixed;
    width: 50%;
    transition: width 0.5s height 0.5s ease-in-out 0.1s;
}
.closed {
    position: absolute;
    width: 25%;
    z-index: 99;

   }
   .open {
    position: absolute;
    width: 35%;
    z-index: 99;

   }
.w-10{

  position: fixed;
    width: 3rem;
    transition: width 0.5s height 0.5s ease-in-out 0.1s;
}
.ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
      #marker {
        width: 20px;
        height: 20px;
        border: 1px solid #088;
        border-radius: 10px;
        background-color: #0FF;
        opacity: 0.5;
      }
      #vienna {
        text-decoration: none;
        color: white;
        font-size: 11pt;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
      }
      .popover-body {
        min-width: 276px;
      }