
.box{
          
        position: fixed;
        top:0;
        left: 0;
    }
    .stack-top{
        z-index: 99;

    }
    .hidden{
    display:none;
    }
    .main{
    margin-left: 40px;
    }
    .w-50 {
    position: fixed;
    width: 50%;
}

.map{
  height: 100%;
  width: 100%;
}
.button{
  position: absolute;
  display: flex-end;
  padding:20px;
  z-index: 99;
}
.animated-div {
  overflow: hidden;
  transition: width 0.5s ease-in-out 1s;
}